<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Welcome to 72-Tech</h1>
      <p>We build your MVPs to launch your projects successfully!</p>
    </div>
  </div>
</section>
