.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(asset-path('code2.jpg'));
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}
