.navbar {
  background-color: #333;
  padding: 1rem;

  .navbar-brand {
    color: #000; /* Couleur noire du texte */
    font-size: 2rem; /* Taille de police augmentée pour plus de visibilité */
    font-weight: bold; /* Met le texte en gras pour qu'il ressorte mieux */
    text-transform: uppercase; /* Met le texte en majuscule pour un effet plus marqué */
    letter-spacing: 2px; /* Ajoute un espacement entre les lettres pour un effet plus élégant */
    transition: color 0.3s ease; /* Ajoute une transition douce lors du survol */

    &:hover {
      color: #9ed443; /* Change la couleur au survol (ici, un vert personnalisé) */
    }
  }


  .nav-link {
    color: #fff;
    margin-right: 1rem;
    &:hover {
      color: #f0a500;
    }
  }

  .navbar-toggler {
    border-color: #f0a500;
  }
  // .navbar-logo {
  //   height: 50px; /* Ajuste la taille selon tes besoins */
  //   width: auto;
  // }


  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
}
// button styling
/* From Uiverse.io by Hashir-Ahmed123 */
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.lava-lamp {
  position: relative;
  width: 50px;
  height: 100px;
  background: #000;
  border-radius: 25px;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #e64980, #ff8787);
  border-radius: 50%;
  left: 15px;
  animation: drop 5s ease-in-out infinite;
}
.bubble1 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #82c91e, #3bc9db);
  border-radius: 50%;
  left: 1px;
  animation: drop 3s ease-in-out infinite;
}
.bubble2 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #7950f2, #f783ac);
  border-radius: 50%;
  left: 30px;
  animation: drop 4s ease-in-out infinite;
}
.bubble3 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #4481eb, #04befe);
  border-radius: 50%;
  left: 20px;
  animation: drop 6s ease-in-out infinite;
}
