#services {
  padding: 60px 0;
  background-color: #728B18;

  .container {
    h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #333;
    }

    .cards-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .card-white {
        background: #B7E219;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
        border-radius: 1.5rem;
        width: 30%;
        min-width: 200px;
        text-align: center;
        padding: 24px;
        margin: 8px 0;

        .card-image {
          width: 180px;
          height: 180px;
          object-fit: cover;
          border-radius: 4px;
        }

        h3 {
          margin-top: 0;
          color: #333;
        }

        p {
          color: #555;
        }
      }
    }
  }
}
